:root {
  --premiere-color: #f3e9c0;
  --deuxieme-color: #9bd4bc;
  --troisieme--color:  #f5b562; 
  --quatrieme--color: #ec514a;
  --blanc:  white;
  --noir:  black;
  --backgroundC: #f3e9c0;
  --grey: rgba(0, 0, 0, 0.161);
}


/* Base styles */
* {
  text-decoration: none;
  box-sizing: border-box;

}

body {

  height:100%;
  width:100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--backgroundC);
  
}

/* ---------Sidebar styles------- */
.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--deuxieme-color);
  padding: 10px;
  margin-left: 12%;
  
}

.sidebar a {
  display: block;
  padding: 10px;
  color: var(--noir);
  text-decoration: none;
  margin-bottom: 5px;
  background-color: var(--blanc);
  border-radius: 5px;
}

.sidebar a:hover {
  background-color: var(--blanc);
}

.sidebar a.active {
  background-color: var(--blanc);
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 90px;
  height: 100px;
  padding-bottom: 10px;
}

/* Main Content styles */
.main-content {
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
  background-color: var(--troisieme--color);
  margin-right: 25%;
  margin-left: 25%;
  
}

/*----POST-----*/

.profilpost {
  display: flex;
}

.nomutilisateur {
  margin-left: 10px;
  margin-top: 12px;
  font-size: 20px;
  margin-bottom: 10px;
}

.photodeprofil img {
 width: 45px;
 height: 45px;
 border-radius: 50%;
}

.option {
  margin-top: 12px;
  margin-left: 72%;
}

.post {
  background-color: var(--blanc);
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.borderpostcontent {
  border-top: solid var(--grey);
  border-bottom: solid var(--grey);
}

.recommendation-button {
  display: block;
  width: max-content;
  padding: 10px;
  margin: 20px 0;
  background-color: var(--quatrieme--color);
  color: var(--blanc);
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

/* Right Sidebar styles */

.right-sidebar {
  width: 200px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: var(--deuxieme-color);
  height: 100vh;
  margin-right: 12%;
}

.search-bar {
  padding: 10px;
  margin-bottom: 20px;
  width: calc(100% - 20px);
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.suggestion {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {

  .sidebar,
  .right-sidebar {
    width: 100px;
  }

  .sidebar a,
  .right-sidebar .search-bar,
  .right-sidebar .suggestion {
    padding: 5px;
  }

  .main-content {
    margin-left: 100px;
    margin-right: 100px;
  }

  .recommendation-button {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {

  .sidebar,
  .right-sidebar {
    width: 60px;
  }

  .sidebar a,
  .right-sidebar .search-bar,
  .right-sidebar .suggestion {
    padding: 3px;
  }

  .main-content,
  .post,
  .recommendation-button {
    margin-left: 60px;
    margin-right: 60px;
  }
}


/*-------squelette-------*/

/*-----dark mode------*/

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #333;
}
/*-----------*/

.gifclick img {
  margin-top: 5px;
  width: 15px;
  height: 15px;
  margin-left: 2%;
  margin-right: 2;

}