.popup-content1 form,
.popup-content2 form {
    display: flex;
    flex-direction: column;
}

.popup-content1 input[type=submit],
.popup-content2 input[type=submit] {
    width: 25%;
    margin: 10px auto;
    color: black;
}


:root {

    --premiere-color: #e4e4e4;
    --deuxieme-color: #00000002; /* nav bar */
    --troisieme--color: #f9f9f9; /* main + profil */
    --quatrieme--color: #7a65aa; /* button and input*/
    --blanc: rgba(255, 255, 255, 0.057); /* post + tendance list */
    --noir: black; /* font color*/
    --backgroundC: #ffffff; /* background color*/
    --grey: rgba(0, 0, 0, 0.161);
  }